[core]
	editor = subl -w

[diff]
        tool = tortoisediff

[difftool]
        prompt = false

[merge]
        tool = tortoisemerge

[mergetool]
        prompt = false
               keepBackup = false

[difftool "tortoisediff"]
          cmd = TortoiseMerge -mine "$REMOTE" -base "$LOCAL"

[mergetool "tortoisemerge"]
           cmd = TortoiseMerge -base "$BASE" -theirs "$REMOTE" -mine "$LOCAL" -merged "$MERGED"
