# This is Git's per-user configuration file.
[core]
	excludesfile = ~/.gitignore_global
	editor = jmacs
	pager = less -i
[user]
	name = Taemin Hong
	email = taeminhong@outlook.com
[alias]
	# View whole history graph. See http://stackoverflow.com/a/9074343
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --branches --remotes --tags
	g = !"git graph -20"
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	# View the current working tree status using the short format
	s = status -s
	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	# Amend message of most recent commit.
	amend = commit --amend
	# Fix the most recent commit without amending commit message
	fix = commit --amend -CHEAD
	wip = !"git add . && git commit -m 'wip'"
	c = commit
	co = checkout
	root = rev-parse --show-toplevel
	glance = show --name-status --oneline
	name-status = show --name-status --format=""
[push]
	default = simple
[fetch]
	prune = true
[advice]
	detachedHead = false
	statusHints = false
[svn]
	# push empty directory removals back to svn as directory deletes
	rmdir = true
[rebase]
	autosquash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
